.formulario-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #0a454a;
  box-shadow: 0 0 10px rgba(2, 53, 21, 0.171);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 8px;
  font-size: 1rem;
}

button {
  background-color: #1a4100;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #58df6c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

