body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: yellow;
    
}

.box{
    position: relative;
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
}

.c1{
     position: absolute;
    border-radius: 50%;
    top: 260px; left: 110px;
    width: 190px; height: 190px;
    background: black;
    border-radius: 50% 0% 50% 50%;
    z-index: 3; 
}

.c2{
    position: absolute;
    border-radius: 50%;
    top: 170px; left: 170px;
    width: 250px; height: 250px;
    background: repeating-linear-gradient(
    45deg,
    white 0 16px,
    grey 16px 32px
    );
    border-radius: 50% 0% 50% 50%;
    z-index: 2; 
}

.c3{
    position: absolute;
    border-radius: 50%;
    top: 70px; left: 260px;
    width: 280px; height: 280px;
    background: red;
    border-radius: 50% 50% 50% 50%;
    z-index: 1; 
}