<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio</title>
   <link rel="icon" href="../Img/leon.png" type="image/png">
  <link rel="stylesheet" href="../assets/Css/P1_desafio-style.css">
</head>
<body>
  <div class="canvas">
    
  <div class="circulo uno"></div>   <!-- rojo (abajo-izq) -->
  <div class="circulo dos"></div>   <!-- azul con rayas (centro) -->
  <div class="circulo tres"></div>  <!-- naranja (arriba-der) -->
</div>

<a href="../components/P1_index-Cussi.html" class="btn">🐢 Ir al inicio</a>

</body>
</html>