<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/Css/P1_style-Espinosa.css" />
    <title>CussiTech</title>
    <link rel="icon" href="data/logo.png" type="image/png">
  </head>
  <body>

    <div class="layout">
      <header class="header">
        <div class="header-left">
          <img src="../assets/Img/Img_P1-Espinosa/logo.png" alt="CussiTech" class="logo" />
        </div>
        <div class="header-right">
          <h1>CussiTech</h1>
        </div>
      </header>
      <nav class="nav">
        <ul>
          <li><a href="#1">Inicio</a></li>
          <li><a href="#2">Catalogo</a></li>
          <li><a href="#3">Ofertas</a></li>
          <li><a href="#4">Blog</a></li>
          <li><a href="#5">Registrarse</a></li>
        </ul>
      </nav>
      <aside class="barra-lateral">
        <ul>
          <li><a href="#1">Arma tu PC</a></li>
          <li><a href="#2">Componentes de PC</a></li>
          <li><a href="#3">Notebook</a></li>
          <li><a href="#4">Monitores</a></li>
          <li><a href="#5">Perifericos</a></li>
          <li><a href="#6">Cables y conectividad</a></li>
          <li><a href="#7">Telefonia</a></li>
          <li><a href="../components/P1_Desafio.html">Desafio</a></li>
        </ul>
      </aside>
      <main class="main">
        <section class="product-container">
          <a href="#1" class="product-card">
            <img src="../assets/Img/Img_P1-Espinosa/monitor.png" alt="CussiMonitor 8k" />
            <h2>Monitor 8k</h2>
            <p>400.000</p>
          </a>
          <a href="#2" class="product-card">
            <img src="../assets/Img/Img_P1-Espinosa/pc.png" alt="CussiPC RTX5070" />
            <h2>PC Prearmarda RTX5070</h2>
            <p>800.000</p>
          </a>
          <a href="#3" class="product-card">
            <img src="../assets/Img/Img_P1-Espinosa/webcam.png" alt="CussiWebcam" />
            <h2>Webcam 4k</h2>
            <p>50.000</p>
          </a>
          <a href="#4" class="product-card">
            <img src="../assets/Img/Img_P1-Espinosa/mouse.png" alt="CussiMouse" />
            <h2>Mouse Gaimer</h2>
            <p>60.000</p>
          </a>
          <a href="#5" class="product-card">
            <img src="../assets/Img/Img_P1-Espinosa/teclado.png" alt="CussiTeclado" />
            <h2>Teclado magnetico inalambrico 25%</h2>
            <p>
                100.000
            </p>
          </a>
          <a href="#6" class="product-card">
            <img src="../assets/Img/Img_P1-Espinosa/rtx.png" alt="CussiRTX5080" />
            <h2>Placa de video RTX5080</h2>
            <p>1.500.000</p>
          </a>
          <a href="#7" class="product-card">
            <img src="../assets/Img/Img_P1-Espinosa/ryzen.png" alt="CussiProcesador" />
            <h2>Procesador Ryzen 9990X3D</h2>
            <p>900.000</p>
          </a>
          <a href="#8" class="product-card">
            <img src="../assets/Img/Img_P1-Espinosa/SSD.png" alt="CussiSSD" />
            <h2>Memoria SSD NVMe 4TB</h2>
            <p>450000</p>
          </a>
        </section>
      </main>
      <footer class="footer">
        <div class="footer-content">
          <div class="footer-section">
            <ul>
              <h4>Informacion</h4>
              <li><a href="#1">Empresa</a></li>
              <li><a href="#2">Contacto</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <ul>
              <h4>Enlaces utiles</h4>
              <li><a href="#1">Garantias</a></li>
              <li><a href="#2">Formas de Pago</a></li>
            </ul>
          </div>
          <div class="footer-section">
            
            <ul>
              <h4>Novedades</h4>
              <li><a href="#1">Suscripcion</a></li>
              <li><a href="#2">Blog</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <ul>
              <h4>Atencion</h4>
              <li><p>Lun a Vie 08:30 a 12:30 y de 16:30 a 20:30 hrs</p></li>
              <li><p>Sáb 08:30 a 13:00 hrs</p></li>
            </ul>
          </div>
          <div class="footer-section">
            <ul>
              <h4>Desarrollado por</h4>
              <a href="#2">Espinosa Lautaro Eduardo</a>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
