<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRIANXD</title>
     <link rel="icon" href="../assets/Img/Img_P1-Estrada/prueda2.png" type="image/png">
    <link rel="stylesheet" href="../assets/Css/P1_style-Estrada.css">
</head>
<body>

    

    <div class="layout">

        <header class="header">
            <div class="header-left">
                <img src="../assets/Img/Img_P1-Estrada/prueda2.png" alt="Logo Empresa" >
            </div>

            <div class="header-right">
                <h1>BRIANXD</h1>
                
            </div>

        </header>
<nav class="menu">
    <a href="#">Inicio</a>
    <a href="#">Catálogo</a>
    <a href="#">Ofertas</a>
    <a href="#">Blog</a>
    <a href="#">Registrarse</a>
</nav>
        <nav class="nav">
            <ul>
                <li><a href="#">Arma tu Pc</a></li>
                <li><a href="#">Componentes de PC</a></li>
                <li><a href="#">Notebook</a></li>
                <li><a href="#">Monitores</a></li>
                <li><a href="#">Periféricos</a></li>
                  <li><a href="../components/P1_Desafio.html">Desafio</a></li>
                <li><a href="#">Cables y conectividad</a></li>
                <li><a href="#">Telefonía</a></li>
            </ul>
        </nav>

     
        <main class="main">
            <section class="pruduct-containar">
                <a href="#" class="product-cart">
                    <img src="../assets/Img/Img_P1-Estrada/pc gamer.png" alt="producto">
                    <h3>Pc Gamer</h3>
                    <p class="precio">$ 1.400.000</p>
                </a>

                 <a href="#" class="product-cart">
                    <img src="../assets/Img/Img_P1-Estrada/Notebook Asus.jpg" alt="producto">
                    <h3>Notebook Asus</h3>
                    <p class="precio">$ 500.0000</p>
                </a>

                 <a href="#" class="product-cart">
                    <img src="../assets/Img/Img_P1-Estrada/Monitor LG 27.png" alt="producto">
                    <h3>Monitor LG 27</h3>
                    <p class="precio">$ 250.0000</p>
                </a>

                 <a href="#" class="product-cart">
                    <img src="../assets/Img/Img_P1-Estrada/Teclado Mecánico.png" alt="producto">
                    <h3>Teclado Mecánico</h3>
                    <p class="precio">$ 80.0000</p>
                </a>
                 <a href="#" class="product-cart">
                    <img src="../assets/Img/Img_P1-Estrada/Teclado Mecánico de Cyberpunk.jpg" alt="producto">
                    <h3>Teclado Mecánico</h3>
                    <p class="precio">$ 121.000</p>
                </a>

                 <a href="#" class="product-cart">
                    <img src="../assets/Img/Img_P1-Estrada/SSD M.2.png" alt="producto">
                    <h3> SSD M.2 WD 4TB Black SN850X 7300MB/s</h3>
                    <p class="precio">$ 100.000</p>
                </a>

                 <a href="#" class="product-cart">
                    <img src="../assets/Img/Img_P1-Estrada/ryzen 9 9950x3d.jpg" alt="producto">
                    <h3>ryzen 9 9950x3d</h3>
                    <p class="precio">$750.000</p>
                </a>

                 <a href="#" class="product-cart">
                    <img src="../assets/Img/Img_P1-Estrada/Estabilizador Tensión 2000va 6 Tomas.png" alt="producto">
                    <h3>Estabilizador Tensión 2000va 6 Tomas</h3>
                    <p class="precio">$74.000</p>
                </a>

            </section>
        </main>

        <footer class="footer"> 
            <div class="footer-content">
                <div class="footer-section"> 
                    <h4>Información</h4>
                  <ul>
                    <li><a href="#">Empresa</a></li>
                    <li><a href="#">Contacto</a></li>
                    
                 </ul>
                    
                </div>
                
               
            </div>

            <div class="footer-section">
                <h4>Enlaces Utiles</h4>
                <ul>
                    <li><a href="#">Garantías</a></li>
                    <li><a href="#">Forma de pago</a></li>
                    
                </ul>
            </div>
            <div class="footer-section">
                   <h4>Novedades</h4>

                  <ul>
                    <li><a href="#">Suscripción</a></li>
                    <li><a href="#">Blog</a></li>
                   
                  </ul>
              
                
            </div>

             <div class="footer-section">
                <h4>Atención</h4>
                <ul>
                   
      <p>Lun a Vie 08:30–20:30</p>
      <p>Sáb 08:30–13:00</p>
                    
                </ul>
            </div>

            <div class="footer-section">
                <h4>Desarrollado por</h4>
                <ul>
                    <li><a href="#">LUIS BRIAN GABRIEL ESTRADA</a></li>
                    
                </ul>
            </div>

           
        </footer>

    </div>
        <script src="index.js"></script>
</body>
</html>