<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa Ines</title>
    <link rel="stylesheet" href="../assets/Css/P1_style-Morales.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="layout">
        <header>
           <div class="logo-izquierda">
               <img src="../assets/Img/Img_P1-Morales/logo.png" alt="Logo de Santa Ines">
           </div>
            <div class="derecha">
               <h1>Santa Ines</h1>
            </div>
        </header>
        <nav class="nav1">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul>
        </nav>
        <nav class="nav2">
            <ul>
                <li><a href="#">Arma tu PC</a></li>
                <li><a href="#">Componentes de PC</a></li>
                <li><a href="#">Notebooks</a></li>
                <li><a href="#">Monitores</a></li>
                <li><a href="#">Perifericos</a></li>
                <li><a href="#">Cables y conectividad</a></li>
                <li><a href="#">Telefonia</a></li>
                <li><a href="../components/P1_Desafio.html">Ir a desafio</a></li>
            </ul>
        </nav>
        <main class="main">
            <section class="product-container">
                <a href="images/product1.jpg" class="product-card">
                    <img src="../assets/Img/Img_P1-Morales/product1.jpg" alt="Producto 1">
                    <h2>Ram Fury</h2>
                    <p>Memoria Ram DDR5, para Notebooks.</p>
                    <span class="precio">$50.000</span>
                </a>
                <a href="images/product2.jpg" class="product-card">
                    <img src="../assets/Img/Img_P1-Morales/product2.jpg" alt="Producto 2">
                    <h2>Teclado con luz RGB</h2>
                    <p>Descripción breve del producto 2.</p>
                    <span class="precio">$95.000</span>
                </a>
                <a href="images/product3.jpg" class="product-card">
                    <img src="../assets/Img/Img_P1-Morales/product3.jpg" alt="Producto 3">
                    <h2>Notebook Gamer ROG Strix SCAR</h2>
                    <p>Descripción breve del producto 3.</p>
                    <span class="precio">$10.000.000</span>
                </a>
                <a href="images/product4.jpg" class="product-card">
                    <img src="../assets/Img/Img_P1-Morales/product4.jpg" alt="Producto 4">
                    <h2>Auriculares Red</h2>
                    <p>Redragon Zeus Pro H510-pro Usb/bluetooth 7.1.</p>
                    <span class="precio">$150.000</span>
                </a>
                <a href="images/product5.jpg" class="product-card">
                    <img src="../assets/Img/Img_P1-Morales/product5.jpg" alt="Producto 5">
                    <h2>Monitor Gamer 24 Cooler Master</h2>
                    <p>Full Hd 100hz 1ms Ga241 2.</p>
                    <span class="precio">$200.000</span>
                </a>
                <a href="images/product6.jpg" class="product-card">
                    <img src="../assets/Img/Img_P1-Morales/product6.jpg" alt="Producto 6">
                    <h2>Adaptador Hub</h2>
                    <p>Aluminio Usb C Multifuncional 7 En 1 Mac / Pc.</p>
                    <span class="precio">$35.000</span>
                </a>
                <a href="images/product7.jpg" class="product-card">
                    <img src="../assets/Img/Img_P1-Morales/product7.jpg" alt="Producto 7">
                    <h2>Ulefone Armor series 27</h2>
                    <p>Dual Sim 24 GB de RAM y 256 Gb de rom.</p>
                    <span class="precio">$400.000</span>
                </a>
                <a href="images/product8.jpg" class="product-card">
                    <img src="../assets/Img/Img_P1-Morales/product8.jpg" alt="Producto 8">
                    <h2>Cable Vention HDMI 2.1</h2>
                    <p>Blindado 48gbps Oro - 8k Hdr - HDCP 144hz.</p>
                    <span class="precio">$10.000</span>
                </a>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <div class ="footer-section">
                    <h4>Informacion</h4>
                    <ul>
                        <li><a href="about.html">Santa Ines</a></li>
                        <li><a href="services.html">Contacto</a></li>
                       
                </div>
                <div class ="footer-section">
                    <h4>Enlaces utiles</h4>
                    <ul>
                        <li><a href="services.html">Garantias</a></li>
                        <li><a href="#.html">Formas de pago</a></li>
                    </ul>
                </div>
                <div class ="footer-section">
                    <h4>Novedades</h4>
                    <ul>
                        <li><a href="contact.html">Subscripcion</a></li>
                        <li><a href="tel:+123456789">Blog</a></li>
                    </ul>
                </div>
                <div class ="footer-section">
                    <h4>Atencion</h4>
                        <p>Lun a Vie 08:30 a 12:30 y de 16:30 a 20:30 hrs</p>
                        <p>Sab 09:00 a 13:00 hrs</p>
                </div>
                <div class="footer-section">
                    <h4>Desarrollado por</h4>
                    <p>Mauro Pappalardo</p>
                    <p>Grupo 2</p>

        </footer>

    </div>
</body>
</html>